@import "common";
@import "questions-list";
@import "question-unit";
@import "../../node_modules/react-loader-spinner/dist/loader/css/react-spinner-loader.css";

#menu {
  margin-bottom: 0;
  background-color: $nav-color;
  padding: 10px 0;
  height: auto;
  border: 0;
  position: relative;
  right: 0;
  left: 0;
  min-height: 5rem;

  ul {
    float: right;
    margin-right: -15px;
    margin-top: 1rem;
  }
}

#home {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #fff;
  padding: 17.3% 0;
  height: 100%;
  position: fixed;
  width: 100%;

  h1 {
    margin-bottom: 3rem;
  }

  .button {
    border: #fff 1px solid;

    &:hover {
      border-bottom: 2px solid $nav-color;
    }
  }
}

#footer {
  padding-top: 1rem;
  background-color: $footer-color;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;

  .copyright {
    text-align: center;
    padding-bottom: .8rem;
  }
}